.body			{background-color:black; width: 90%; margin:auto; border-radius:4px;}
body			{background-color:black; color:black; text-align:center;}

header			{background-color:yellow; height:150px; border-radius:10px;}
.header_left		{width:33%; float:left; margin:0% 0.165% 0% 0.165%;}
.header_center	{width:33%; float:left; margin:0% 0.165% 0% 0.165%;}
.header_right		{width:33%; float:left; margin:0% 0.165% 0% 0.165%;}
.logo			{border-radius:10px; margin-top:5%;}
.pagename		{text-align:center; margin-top:14%;}
.contact		{margin-top:15%;}

nav			{background-color:red; text-align:center; vertical-align:middle; border-radius:10px;}
.bar a			{width:50px; background-color:#F3F3F7; color:#000; border:solid 800px 2px; border-radius:10px; padding:1px 4px; margin-right:5px; text-decoration:none;}
.bar a:hover		{background-color:#0f0; color:#000; border:solid #000000 2px;}

section		{background-color:black; color:white; border-radius:10px;}

footer			{background-color:blue; text-align:center; border-radius:10px;}

li			{display:inline;}

.lista_vertical	{list-style-type:none;}
.lista_vertical li	{display:list-item;text-align:left;}
.lista_vertical li a	{text-decoration:none;}

.icon			{width:40px; height:40px; border-radius:10px;}

.wallpaper		{height:400px; margin:1%; border-radius:10px;}

.soon			{position:absolute; top:200px; left:0; margin-top:11%; width:100%; font-weight:bold; color:red; font-size:40px;}

#hoverdiv		{display:none; position:absolute; font-size:14px; background-color:white; color:grey; border:1px solid #999; padding:7px; border-radius:10px;}

.map			{width:164px; height:100px; border-radius:10px;}