#semestre1, #semestre2, #semestre3, #semestre4, #semestre5, #semestre6, #semestre7, #semestre8	{color:green;}

.lecture											{color:green; text-decoration:none; cursor:pointer;}

#lectures #cor1											{color:green;}
#lectures #cor2											{color:blue;}
#lectures #cor3											{color:yellow;}
#lectures #cor4											{color:red;}